@{
    ViewData["Title"] = "About";
}
<div class="row">
    <h1 class="col-sm-12">About Us</h1>
</div>
<div class="row">
    <p class="col-sm-6">
        We're proud to serve nearly half of America’s households with a broad range of
        financial services, including personal banking, credit cards, mortgages,
        auto financing, investment advice, small business loans and payment processing.
    </p>
    <img src="~/Images/team.jpg" alt="our team" class="col-sm-6" />
</div>